{% extends './layout.html' %}

{% block content %}
<div class="container">
    <h1>Home</h1>
    {% if current_user.is_authenticated %}
        <p>Welcome to Fakebook, {{ current_user.username }}</p>
    {% endif %}

    <form action="http://127.0.0.1:5000/api/status-update" method="POST" class="form-inline">
        <div class="form-group mb-2 w-75 pr-3">
          <label for="statusInput" class="sr-only">How are you feeling today?</label>
          <input type="text" class="form-control w-100" name="statusInput" id="statusInput" placeholder="How are you feeling today?">
        </div>
        <button type="submit" class="btn btn-primary mb-2 w-25">Add Post</button>
    </form>

    {% for p in posts %}
        <div class="card mb-2">
            <div class="card-body">
                <p>{{ p.body }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <span>{{ p.get_user().username }}</span>
                <span>{{ p.date_created }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}